@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/**/
.side::before{
  content:'';
  width:100px;
  height:2px;
  background:green;
  position:absolute;
  top:15px;
  right:-120px;
}

.side-incomplete::before{
  content:'';
  width:100px;
  height:2px;
  background:rgb(141, 141, 141);
  position:absolute;
  top:15px;
  right:-120px;
}

@media (max-width:780px){
  .side::before{
    right:-110px;
  }
  
  .side-incomplete::before{
    right:-110px;
  }
}